{{!-- Put burger image here --}}
<h1>Eat-Da-Burger</h1>

<h2>Devour these burgers!</h2>

<ul>
  {{#each burgers}}
		{{#unless this.devoured}}
    	<div class="burgers">
			{{this.id}}
   	 	{{this.burger_name}}
			</div>
			<button class="devour" data-id="{{this.id}}">Devour It!</button>
    {{/unless}}
  {{/each}}
</ul>

<h2>These have been Devoured!</h2>

<ul>
  {{#each burgers}}
		{{#if this.devoured}}
			<div class="burgers">
			{{this.id}}
   	 	{{this.burger_name}}
			</div>
			<button class="remake" data-id="{{this.id}}">Remake It!</button>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">burger Name:</label>
    <input type="text" id="burger" name="name">
  </div>

  <button type="submit">Add burger</button>
</form>
